.container {
    width: 70%;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--dark-blue);
    color: var(--cream);
    padding: 1rem 1.6rem;
    transition: all .15s ease;
    text-align: center;
    cursor: pointer;
    border-radius: .2rem;
}

.tag {
    display: inline-block;
    padding: .4rem .8rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    color: var(--cream);
}

.sports { background-color: #15947f; }
.health { background-color: #15941b; }
.economy { background-color: #651594; }

.card {
    background-color: var(--cream);
    border-radius: .5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.btn-block { display: block; width: 100%; }

.btn-light { background-color: var(--light); color: var(--soft-dark); }
.btn-cream { background-color: var(--cream); color: var(--soft-dark); }
.btn-light-blue { background-color: var(--light-blue); color: var(--soft-dark); }

.btn:hover { opacity: .8; }

.bg-dark-blue { background-color: var(--dark-blue); color: var(--cream); }
.bg-cream { background-color: var(--cream); color: var(--soft-dark); }
.bg-light-blue { background-color: var(--light-blue); color: var(--soft-dark); }
.bg-white { background-color: var(--white); color: var(--soft-dark); }
.bg-dark { background-color: var(--dark); color: var(--cream); }
.bg-soft-dark { background-color: var(--soft-dark); color: var(--cream); }

.p-1 { padding: .5rem; }
.p-2 { padding: .7rem; }
.p-3 { padding: .9rem; }
.p-4 { padding: 1.1rem; }

.px-1 { padding: 0 .5rem; }
.px-2 { padding: 0 .7rem; }
.px-3 { padding: 0 .9rem; }
.px-4 { padding: 0 1.1rem; }

.py-1 { padding: .5rem 0; }
.py-2 { padding: .7rem 0; }
.py-3 { padding: .9rem 0; }
.py-4 { padding: 1.1rem 0; }

.m-1 { margin: .5rem; }
.m-2 { margin: .7rem; }
.m-3 { margin: .9rem; }
.m-4 { margin: 1.1rem; }

.mx-1 { margin: 0 .5rem; }
.mx-2 { margin: 0 .7rem; }
.mx-3 { margin: 0 .9rem; }
.mx-4 { margin: 0 1.1rem; }

.my-1 { margin: .5rem 0; }
.my-2 { margin: .7rem 0; }
.my-3 { margin: .9rem 0; }
.my-4 { margin: 1.1rem 0; }